# Question 1
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b() #1
b() #2
b() #3
a   #4

6



Action 1:  when the function b() is called, the variable 'a' is declared as a global variable. This means that 'a' with a value of 0 can be accessed by all the functions in the program. Then, when we assign 'a' as 'c(a)', it calls the function c(a) and stores the value of 'a + 2' back into 'a'. As a result, the value of 'a' becomes 2.

Action 2: when b() is called again, the variable 'a' with a value of 2 is declared as a global variable. Then, c(a) is called once more, which updates the value of 'a' to 'a + 2', making it 4.

Action 3: following similar pattern. The value of 'a' becomes 'a + 2', i.e '4 + 2', is equal to 6.

# Question 2 :
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: >>> fileLength('midterm.py') 284 >>> fileLength('idterm.py') Traceback (most recent call last): File "<pyshell#34>", line 1, in <module> fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: >>> fileLength('midterm.py') 358 >>> fileLength('idterm.py') File idterm.py not found.

In [79]:
def fileLength(file_location):
    try:                                           
        open_file=open(file_location)
        data=open_file.read()
        length=len(data)
        open_file.close()
        return length
    except IOError:                                  
        print(f'File {file_location} not found.')

In [80]:
fileLength("Filelength.txt")

123

In [81]:
fileLength("ajay.txt")

File ajay.txt not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0) >>> print(k) I am a Kangaroo located at coordinates (0,0) >>> k.put_in_pouch('doll') >>> k.put_in_pouch('firetruck') >>> k.put_in_pouch('kitten') >>> k.pouch_contents() ['doll', 'firetruck', 'kitten'] >>> k.jump(1,0) >>> k.jump(1,0) >>> k.jump(1,0) >>> print(k) I am a Kangaroo located at coordinates (3,0)

In [83]:
class Marsupial:
    def __init__(self):
        self.list1 = []
    
    def put_in_pouch(self,item):
        self.list1.append(item)
    
    def pouch_contents(self):
        return self.list1
    
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x}, {self.y})'

In [84]:
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [6]:
def collatz(x):
    print(int(x))
    if x==1 or x==0:
        return 
    else:
        if x%2==0:
            x = x/2
            collatz(x)
        else:
            x = 3*x + 1
            collatz(x)

In [7]:
collatz(1)

1

In [8]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. >>> binary(0)
0 
>>> binary(1)
1 
>>> binary(3) 
11 
>>> binary(9)
1001

In [12]:
def binary(n):
    if n==0:
        return 0
    else:
        return ((10*binary(int(n/2))) + (n%2))

In [13]:
binary(0)

0

In [14]:
binary(1)

1

In [15]:
binary(3)

11

In [16]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should haveindentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [86]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):

    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'] # h1-h6 (heading types)
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.headers:         
            HeadingParser.current = HeadingParser.headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)

In [87]:
file = open("w3c.txt",'r') 
data = file.read()
file.close()
a = HeadingParser()
a.feed(data)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [6]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return
    
    try:
        response = requests.get(url)
        response.raise_for_status() 
        soup = BeautifulSoup(response.text, 'html.parser')
        
        print(" " * indent + url)
        
        links = soup.find_all('a', href=True)
        for link in links:
            new_url = link['href']
            if not new_url.startswith('http'):
                new_url = '/'.join(url.split('/')[:-1]) + '/' + new_url
            webdir(new_url, depth - 1, indent + 4)
    
    except requests.exceptions.RequestException as e:
        print("Error:", e)
    except Exception as e:
        print("An error occurred:", e)

In [7]:
webdir('http://web.simmons.edu/~grovesd/comm244/notes/week3/html-test-page.html', 2, 0)

http://web.simmons.edu/~grovesd/comm244/notes/week3/html-test-page.html
    http://web.simmons.edu/~grovesd/comm244/notes/week3/css-linking#internal
    http://web.simmons.edu/~grovesd/comm244
    http://web.simmons.edu/~grovesd/comm244/week3

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature (C) Rainfall (mm)

In [91]:
import sqlite3
database = sqlite3.connect('weather.db')
current = database.cursor()


current.execute("CREATE TABLE if not exists periodical (City str ,Country str, Season str, Temperature float, Rainfall float)")
current.execute("""
    INSERT INTO periodical VALUES 
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
    """)

database.commit()


database.close()

In [76]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [77]:
%sql sqlite:///weather.db

# a) All the temperature data.

In [78]:
%%sql

Select Temperature from periodical

   sqlite:///ps02.db
 * sqlite:///weather.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# b) All the cities, but without repetition.

In [28]:
%%sql
Select distinct City from seasons

 * sqlite:///ps02.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

# c) All the records for India

In [30]:
%%sql
Select * from seasons where Country == "India"

 * sqlite:///ps02.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# d)All the Fall records.

In [32]:
%%sql
Select * from seasons where Season == "Fall"

 * sqlite:///ps02.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [31]:
%%sql
Select City, Country, Season from seasons where Rainfall between 200 and 400

 * sqlite:///ps02.db
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

# f ) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [33]:
%%sql
Select City, Country from seasons where Season == 'Fall' and  Temperature > 20 order by Temperature

 * sqlite:///ps02.db
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

# g) The total annual rainfall for Cairo.

In [34]:
%%sql
Select Sum(Rainfall) from seasons where City == "Cairo"

 * sqlite:///ps02.db
Done.

[(27.6,)]

# h) The total rainfall for each season.

In [35]:
%%sql
Select Season, round(sum(Rainfall),2) from seasons group by Season

 * sqlite:///ps02.db
Done.

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [36]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Answer9(a)

In [37]:
a = [char.upper() for char in words]
a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

Answer9(b)

In [38]:
a = [char.lower() for char in words]
a

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Answer9(c)

In [40]:
length_list = [len(char) for char in words]
length_list

[3, 5, 5, 3, 5, 4, 3, 4, 3]

Answer9(d)

In [42]:
n = [[char.upper(), char.lower(), len(char)] for char in words]
n

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

Answer9(e)

In [43]:
l = [char for char in words if len(char) >= 4]
l

['quick', 'brown', 'jumps', 'over', 'lazy']